extends layout

block content
  h1.logo URL SHORTENER
  form(action="" method="post" )
    div.form-group
      input(class="form-control " type="text" name="link" placeholder="Shorten link")
    button(type="submit" class="btn btn-primary") Shorten
  
  if url 
    div.url_info
      div.title Short URL: 
      a(href=`/${url.short_link}`)
        span #{getUrl}#{url.short_link}
      div.title Long URL: 
      a(href=`${url.link}`) 
        span=url.link
  
  if errors 
    ul.errors
      each error in errors 
        li.text-danger=error.msg
